language: java
jdk: openjdk11

services:
  - docker

env:
  global:
    - PROJECT_NAME=pgr301-exam-auth
    # GCP Setup
    - CLOUDSDK_CORE_DISABLE_PROMPTS=1
    - secure: "JMDtyQg1xk1SCNDUU1c+l0EjqWb7eqKSBA1VO58m6hTV0ztaj8v5/T1HiSu9+uaUcxTwBT14Re2mUb/o/N0PB2fdpUgC48k2q6NgYhzd86/1CrFljLx46eO9grBVFmMTC+NEGxsspm213u0IcTy8Vk8BXOY8EVdXux3+t3MjPNRCSy8dsO3Z4K/Dqhut+noad2ctpguahDnYvevjDNUrHQqBplYc4HII0dxXj65XeOMKbrK/LM5vGAIo0RzsNta/pF00Lz3E3I2I3MKZk0s2hbKr1ZL/E+uZRo9PN/rY4+XSvhJIn1O/D3AU0m8JVskv5Kc92yhrjUM5IWgTUhj+ZgwWiiLpFuEOuFRaTxa6KyBFYrewKZjd2OUFSRT+KRrLk+OKvl+ccO9cj+vJYHMV0d34nnPippOaA6tILEaI5Jr3pbB2I0wz0ku3xO/ErH9R7n+NmzrhfkkibUO9khwf1MX9h4LU4B0jgN7Y/SB5SP2RQVnRGufgKcfu0RoDTvLA7bnJyLRFv0kD8qk6r13Acq5eDJ7cEAeL2w/qa7q5gLI0lHR3PBaripHt9KEShaQBT07aBllF58cnzZiVJLXMfVxh6atJGTSBuVtAK5EtBNM8nIsWCRgPB18DH8MOitony5kZvsly5qkkweVZCi6IdlVMUZu737wqpQvYEjlbBjw="
    - secure: "mE17P0fHPYCnio8EnzxGPmXRZSuwn+RN2JXHgpwVzMAeBBgQajNbF7s94SzxTbDpAioXlhmu3xxULkRc9/r4xlU+YsmS49Ckh3T1boWJRQKUo9+8KTC3/ma4ih9eHj7TR6dw98oPcxue/nJIEs2Fe2xmrqUjlEsPYgNdDeUw188KTBtk4N0MoTvYsixDMkcfEGrbO9VwFOXVQ4Sxm8eqFAsn+MTCWVGnBveccx3wtIQ9GFLg0gm05SH67EkPAkjvpeNQpkQ1QQ5zqnV21bATsJlMiMC3qoTe0lay+W1yNtQee2g2nLToxYPTPOQopVAKIBv+mPyi//JIwtptGpZk3j21ep18Y6bi9l4A4jsfxbQhrzLbRrn1GeIVyL1rn+H1av6iHdyceUBtWzp+h9b0sPrUfT4MoFzVvL7CjYGrWkPRSPINoYS++rZmmkJPRINlxI9gpWkSUdHYnH80RJ49Jz65eCpvBPd+jkrU3UU9ndilALqR6y/o/eOiN/LJKwyt9UN0cEIKgar4YU6WDMHObd9ILVKjwgIYaOM3o/I7nkQ22dhRxXgwAAnkLtsXNQ7TN2uQaW9S/k5A8jPGr6LGB+fPlGqiavVUNs+phCyBj9mOZYtLb/BhAXOHDwkDxwWjxpjfmms7hUFPYBGLr/Kwl31nK3u27pyk1ZIKDq4eR/M="
    - secure: "TxPtJrhHFPRR2xpye/5XeQOdrTnk9KB1ieX9JqCD3iivLtaPND6F+8Wpu8Ubg93I6FfA3pCaagpQZ0cK3X9h8vZ8IosZn+NgFxvaCwctc4ZyCzm8Qd0wtDCcWg6nIYeCRou2eB+82IV78DCWnE1xhIoFJ7NnmRuKQhOLw2s4y6jsx3Q1Nhcze7uzYIIYNJj+6HngCD4DeSSV8hdSWzUw5j8x7vQz6IuPh3IDO0N4hQI1bWcPMU1Bt3FNg4t0hT/AhBg68LJ75meJGHcIwLOezkhdgDOSVRZMUDbJG4t7gNxb+p8esoPXlsSbKHgPL4F6taLGQYHuNcKE2GK+06l5LM3MXCYTZxatLdnhZPT0Bf9jqumrNa3WDLkLVqVKoTebjUXE4/liHHrSIkeEGfW8TLSkqV+6QCjq+/Kv6fCy65XosNqsGd0N91EtR+nFxTxcD++oAqCke89LS4oeyquqD1Gm0TscmLgbtlf6JR31JOmZwupIG3rcEfZgP8BzXBZDrAcLEh9qzV5DwypVXz8purtxAt7kMlEnhmYrga7iIU27oMToVzfAOU8pjutBXGW1cdDhv6vZSzmj9IxAtTgR2nc3DkLU5oHFwjDrKA+T4q2+Fq38j+hMEfqF2lVe2wtdzcPTeJBWjtTFNO4SXpVsHhsZWyLvGuSaMPnlLAW94t0="
    - secure: "hemp/GUQogMWOt4tM4bs4ao+mt5zLHiZNN3pPnR1OhQ51Ww0wZxQ0SEbioNnlp5czIIm0eCunxhorOHOO8wtrOaKOl7UrhY8Q/WdzLbyuxWemDt05F7hInAHJK3PZJV/4UpdcGLZGO4c6LfgHBOlpP45fpBqLB7y+lhQ1/WV1hGvnNFdpCeCbJGLH0yQLqI2yvIQRM61U1s2/hiEoRfRtfvlCHW6TOf84vTuZKW7Hfo3s2fAkTFhAAi5jqmjtJ9sFasOAzJy2Mm16ETVn0Xm8kgM3HvHztGsXUb0jzhG02u9V4fq/EjNPu/IcdrTRA9YhZep8xAvEMgTNhGmvWYwD6bMO4+876r4NgfL0yVaqC9Cd30kq1y16vugpfyn1bpXSKfsm6P4dNnqZF5q5SrlWtZYG4AMJyCb5BqirNQMhrHOodtZ1N3Z4Hu/tSa3H31v398Nzt9ztKT1Uy+G8ufgJJrtlE6Wa2iWmQHVn2T8La9bh+jorzxW7aYj0kEXmEvAUBpua+pjt5AUq8JVns9qdxlzEkCSsMAwCvx7W0ZmsPqEYCPCUXExyMVBpVvozTcrBWVMAAW8sZMtZ8NQjOQdtJ2N0BgNDs9eaOaI5UxMAvXnZ01ar3iXrkh7THPeVXxxnD11gwIYdfyTPnBIJDWgZ4srEE+F9DMkpADptQIZwoA="

cache:
  directories:
    - ".autoconf"
    - "$HOME/.m2"
    - "$HOME/google-cloud-sdk/"

before_install:
  # Decrypt gcp_keyfile.json
  - openssl aes-256-cbc -K $encrypted_b8738be8a379_key -iv $encrypted_b8738be8a379_iv -in gcp_keyfile.json.enc -out gcp_keyfile.json -d
  # Install GCloud if not cached
  - bash ./scripts/install_gcloud
  - source $HOME/google-cloud-sdk/path.bash.inc
  # Authenticate gcloud with the Service Account
  - gcloud auth activate-service-account --key-file gcp_keyfile.json
  # Authenticate Docker with gcloud credentials
  - gcloud auth configure-docker $GCP_REGISTRY_HOSTNAME

deploy:
  skip_cleanup: true
  provider: script
  script: bash ./scripts/deploy
  on:
    branch: master
