language: java
jdk: openjdk11

services:
  - docker

env:
  global:
    # Set the name of the Docker Image
    - PROJECT_NAME=pgr301-exam-auth
    # Disable Google Cloud SDK prompts
    - CLOUDSDK_CORE_DISABLE_PROMPTS=1
    # Enable DockerBuildkit
    - DOCKER_BUILDKIT=1

cache:
  directories:
    - ".autoconf"
    - "$HOME/.m2"
    - "$HOME/google-cloud-sdk/"
    - "$HOME/bin/terraform/"

before_install:
  # Update Docker to latest version
  - bash ./scripts/update_docker
  # Install Google Cloud SDK if not cached
  - bash ./scripts/install_gcloud
  # Use the downloaded SDK instead of pre-installed old version on Travis-CI
  - source $HOME/google-cloud-sdk/path.bash.inc

deploy:
  provider: script
  script: bash ./scripts/deploy
  on:
    # Only deploy if on stage 'master'
    branch: master
