server:
  port: ${PORT:8080}

spring:
  application:
    name: auth
  datasource:
    url: jdbc:postgresql://${AUTH_DB_URL:localhost}:${AUTH_DB_PORT:5432}/${AUTH_DB_NAME:postgres}
    username: ${AUTH_DB_USERNAME:postgres}
    password: ${AUTH_DB_PASSWORD:""}
    driver-class-name: org.postgresql.Driver
  jpa:
    database: postgresql
    hibernate:
      ddl-auto: validate